/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body { padding-top: 10em;}
footer { background-color: black;}
table, td, th { vertical-align: middle;}
/*th { border-bottom: 1px solid #DDD; }
img {max-width: 100px; max-height: 100px;}*/

.my_form
{ 
	background-color: #fff;
  	border: 1px solid #e5e5e5;
  	-webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    /*height: 100%;*/
    margin: 0 auto -2.85em; /* the bottom margin is the negative value of the footer's height */
    margin-top: -30px;
    font-family: verdana;
}
footer, .push {
	height: 5em;
	clear: both;
}
footer p{
	color:whitesmoke;
	text-align: center;
	margin-top: 2em;
	opacity: 0.8;
}
html, body {
	height: 100%;
}
.idea_container{
  background-color: whitesmoke;
  box-shadow: 15px -15px 5px rgba(0,0,0,0.3);
  width: 400px;
  height: auto;
  margin: 0px auto;
  margin-bottom: 40px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}
.user_name_disp{
  text-align: left;
  padding: 5px;
}
.pic_frame{
  max-width: 400px;
  min-width: 400px;
  width: auto;
  height: auto;
  margin: 0px auto;
  text-align: center;
  
  
}
.pic_frame img{
  margin: 0px auto;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
.nav>li>a:hover, .open>a, .open>a:hover, .open>a:focus, .nav>li>a:focus {
  background-color: transparent !important;
}
.new_user .field_with_errors {
  display: block; 
}
.idea_desc, .idea_container h3
{
  font-family: cursive;
}
.idea_desc{
  margin: 15px;
}

.navbar .navbar-form{
    padding: 0 15px;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
.navbar .navbar-form .input-group{
  
    width:100%;
}